<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/favicon.png">
    <title>About Page</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="avatar" src="/img/avatar.png" alt="avatar">
        <p>This site was create from Stelios Kamnakis</p>
        <p>It uses data from mapbox and weatherstack.</p>
    </div>
    {{>footer}}
</body>
</html>